/imagenes/
/Otros resultados/
/Resultados anteriores/
/venv/
/.idea/.name
/.idea/AlgoritmoGenetico-Master.iml
/BaseDatosRawN6.csv
/examples_sidermit.ipynb
/LargosIndexN6.txt
/.idea/misc.xml
/.idea/modules.xml
/.idea/other.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/EDL generaciones/Gen 1/sidermit6zonasLinea15g1.png
/EDL generaciones/Gen 1/sidermit6zonasLinea17g1.png
/EDL generaciones/Gen 5/sidermit6zonasLinea17g5.png
/EDL generaciones/Gen 7/sidermit6zonasLinea17g7.png
/imagenes2/sidermit6zonasLinea17uI.png
/EDL generaciones/Gen 1/sidermit6zonasLinea18g1.png
/EDL generaciones/Gen 7/sidermit6zonasLinea18g7.png
/EDL generaciones/Gen 1/sidermit6zonasLinea19g1.png
/EDL generaciones/Gen 4/sidermit6zonasLinea19g4.png
/EDL generaciones/Gen 11/sidermit6zonasLinea19g11.png
/imagenes2/sidermit6zonasLinea19uI.png
/EDL generaciones/Gen 13/sidermit6zonasLinea20g13.png
/EDL generaciones/Gen 14/sidermit6zonasLinea20g14.png
/EDL generaciones/Gen 4/sidermit6zonasLinea21g4.png
/EDL generaciones/Gen 1/sidermit6zonasLinea36g1.png
/EDL generaciones/Gen 1/sidermit6zonasLinea61g1.png
/imagenes2/sidermit6zonasLinea197uI.png
/EDL generaciones/Gen 11/sidermit6zonasLinea200g11.png
/EDL generaciones/Gen 13/sidermit6zonasLinea200g13.png
/EDL generaciones/Gen 14/sidermit6zonasLinea200g14.png
/EDL generaciones/Gen 7/sidermit6zonasLinea218g7.png
/EDL generaciones/Gen 13/sidermit6zonasLinea218g13.png
/EDL generaciones/Gen 14/sidermit6zonasLinea218g14.png
/EDL generaciones/Gen 1/sidermit6zonasLinea219g1.png
/EDL generaciones/Gen 4/sidermit6zonasLinea219g4.png
/EDL generaciones/Gen 5/sidermit6zonasLinea219g5.png
/EDL generaciones/Gen 1/sidermit6zonasLinea223g1.png
/EDL generaciones/Gen 11/sidermit6zonasLinea248g11.png
/EDL generaciones/Gen 7/sidermit6zonasLinea263g7.png
/EDL generaciones/Gen 13/sidermit6zonasLinea263g13.png
/EDL generaciones/Gen 1/sidermit6zonasLinea298g1.png
/EDL generaciones/Gen 4/sidermit6zonasLinea298g4.png
/EDL generaciones/Gen 5/sidermit6zonasLinea298g5.png
/EDL generaciones/Gen 7/sidermit6zonasLinea298g7.png
/EDL generaciones/Gen 11/sidermit6zonasLinea298g11.png
/EDL generaciones/Gen 13/sidermit6zonasLinea298g13.png
/EDL generaciones/Gen 1/sidermit6zonasLinea299g1.png
/EDL generaciones/Gen 1/sidermit6zonasLinea333g1.png
/EDL generaciones/Gen 4/sidermit6zonasLinea333g4.png
/EDL generaciones/Gen 5/sidermit6zonasLinea333g5.png
/EDL generaciones/Gen 11/sidermit6zonasLinea333g11.png
/EDL generaciones/Gen 14/sidermit6zonasLinea333g14.png
/imagenes2/sidermit6zonasLinea368uI.png
/EDL generaciones/Gen 4/sidermit6zonasLinea382g4.png
/EDL generaciones/Gen 1/sidermit6zonasLinea403g1.png
/EDL generaciones/Gen 14/sidermit6zonasLinea403g14.png
/imagenes2/sidermit6zonasLinea403uI.png
/EDL generaciones/Gen 4/sidermit6zonasLinea408g4.png
/EDL generaciones/Gen 1/sidermit6zonasLinea438g1.png
/EDL generaciones/Gen 4/sidermit6zonasLinea438g4.png
/EDL generaciones/Gen 5/sidermit6zonasLinea438g5.png
/EDL generaciones/Gen 7/sidermit6zonasLinea438g7.png
/EDL generaciones/Gen 5/sidermit6zonasLinea884g5.png
/imagenes2/sidermit6zonasLinea934uI.png
/EDL generaciones/Gen 4/sidermit6zonasLinea984g4.png
/EDL generaciones/Gen 11/sidermit6zonasLinea984g11.png
/EDL generaciones/Gen 14/sidermit6zonasLinea984g14.png
/EDL generaciones/Gen 5/sidermit6zonasLinea986g5.png
/imagenes2/sidermit6zonasLinea987uI.png
/EDL generaciones/Gen 14/sidermit6zonasLinea1088g14.png
/imagenes2/sidermit6zonasLinea1088uI.png
/EDL generaciones/Gen 4/sidermit6zonasLinea1096g4.png
/EDL generaciones/Gen 7/sidermit6zonasLinea1188g7.png
/imagenes2/sidermit6zonasLinea1188uI.png
/EDL generaciones/Gen 5/sidermit6zonasLinea1195g5.png
/EDL generaciones/Gen 4/sidermit6zonasLinea1276g4.png
/EDL generaciones/Gen 5/sidermit6zonasLinea1276g5.png
/EDL generaciones/Gen 11/sidermit6zonasLinea1276g11.png
/EDL generaciones/Gen 13/sidermit6zonasLinea1276g13.png
/EDL generaciones/Gen 14/sidermit6zonasLinea1276g14.png
/EDL generaciones/Gen 13/sidermit6zonasLinea1277g13.png
/EDL generaciones/Gen 7/sidermit6zonasLinea1280g7.png
/EDL generaciones/Gen 7/sidermit6zonasLinea1375g7.png
/EDL generaciones/Gen 13/sidermit6zonasLinea1375g13.png
/EDL generaciones/Gen 11/sidermit6zonasLinea1376g11.png
/EDL generaciones/Gen 5/sidermit6zonasLinea1377g5.png
/EDL generaciones/Gen 14/sidermit6zonasLinea1479g14.png
/imagenes2/sidermit6zonasLinea1479uI.png
/EDL generaciones/Gen 13/sidermit6zonasLinea1480g13.png
/EDL generaciones/Gen 11/sidermit6zonasLinea1481g11.png
/EDL generaciones/Gen 13/sidermit6zonasLinea1836g13.png
/imagenes2/original/sidermit6zonasLinea1882oI.png
/imagenes2/original/sidermit6zonasLinea2508oI.png
/imagenes2/original/sidermit6zonasLinea3515oI.png
/EDL generaciones/Gen 1/sidermit6zonasLinea4647g1.png
/EDL generaciones/Gen 4/sidermit6zonasLinea4647g4.png
/EDL generaciones/Gen 5/sidermit6zonasLinea4647g5.png
/EDL generaciones/Gen 7/sidermit6zonasLinea4647g7.png
/EDL generaciones/Gen 11/sidermit6zonasLinea4647g11.png
/EDL generaciones/Gen 13/sidermit6zonasLinea4647g13.png
/EDL generaciones/Gen 14/sidermit6zonasLinea4647g14.png
/imagenes2/sidermit6zonasLinea4973uI.png
/EDL generaciones/Gen 7/sidermit6zonasLinea5496g7.png
/imagenes2/original/sidermit6zonasLinea7072oI.png
/imagenes2/original/sidermit6zonasLinea7153oI.png
/Test/spam.log
/Test/spamCalibrador.log
/.idea/vcs.xml
/registros_spam/graficos spam2.ipynb
/registros_spam/Imagenes/id 13/Umbral/borrador.pptx
